<div class="row">
  <div class="col-xs-8">
    <h1><%= gsx$object.$t %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-8">
    <h2><span class="yellow">Name </span> <%= gsx$name.$t %></h2>
    <h2><span class="yellow">Age </span><%= gsx$age.$t %></h2>
    <h2><span class="yellow">Ethnicity </span><%= gsx$ethnicity.$t %></h2>
    <h2><span class="yellow">Location </span> <%= gsx$location.$t %></h2>
    <h2><span class="yellow">Object </span><%= gsx$object.$t %></h2>
    <h2><span class="yellow">Story </span><%= gsx$story.$t %></h2>
    <h2><span class="yellow">Status </span><%= gsx$status.$t %></h2>
    <h2><span class="yellow">Source </span> <%= gsx$source.$t %></h2>
  </div>
</div>