<div class="row">
  <div class="col-xs-8">
    <h1><%= gsx$object.$t %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <% if (gsx$image.$t != ""){ %>
    <% var src = "../../images/" + gsx$image.$t %>
    <img class="prof_pic" src= "<%= src %>">
    <p><a href="<%= gsx$imagesrc.$t %>"> Image Source</a></p>
    <%}else{%>
      <h2>No Images Available </h2>
      <%}%>
  </div>
  <div class="col-md-6 top">
    <h2><span class="yellow">Name: </span> <%= gsx$name.$t %></h2>
    <h2><span class="yellow">Date: </span> <%= gsx$date.$t %></h2>
    <h2><span class="yellow">Age: </span><%= gsx$age.$t %></h2>
    <h2><span class="yellow">Ethnicity: </span><%= gsx$ethnicity.$t %></h2>
    <h2><span class="yellow">Location: </span> <%= gsx$location.$t %></h2>
    <h2><span class="yellow">Object: </span><%= gsx$object.$t %></h2>
    <h2><span class="yellow">Story: </span><%= gsx$story.$t %></h2>
    <h2><span class="yellow">Status: </span><%= gsx$status.$t %></h2>
    <h2><span class="yellow">Source: </span>
      <% if (gsx$sourcetwo.$t != "") { %>
          <% arr_1 = gsx$source.$t.split(',') %>
          <% arr_2 = gsx$sourcetwo.$t.split(',') %>
          <a href='<%= arr_1[1] %>'> <%= arr_1[0] %></a>,
          <a href='<%= arr_2[1] %>'> <%= arr_2[0] %></a></h2>
      <% } else {%>
          <% arr_1 = gsx$source.$t.split(',') %>
          <a href="<%= arr_1[1] %>"> <%= arr_1[0] %></a></h2>
        <% } %>
  </div>
</div>